<ion-content *ngIf="month">
  <div *ngIf="month" class="horizontal-stack align-center text-primary pl-m pr-m"> <!--Header-->
    <div class="full-height horizontal-stack align-center" routerLink="/home">
      <ion-icon size="large" name="arrow-back-outline"></ion-icon>
    </div>
    <div class="title text-end">{{ month.getDate() | date:'MMMM yyyy' }}</div>
  </div>
  <div *ngIf="month">
    <div class="horizontal-stack justify-between pl-m pr-m div-title">
      <div>De</div>
      <div>{{ month.startDate | date:'dd/MM/yyyy' }}</div>
      <div>à</div>
      <div>{{ month.endDate | date:'dd/MM/yyyy' }}</div>
    </div>
    <div class="horizontal-stack justify-between pl-m pr-m div-title">
      <div>Buget</div>
      <div>{{ month.budget }} €</div>
      <div>Restant</div>
      <div>{{ month.budget-month.getTotal() }} €</div>
    </div>
    <div class="horizontal-stack align-center gap space-between pl-m pr-m">
      <app-progress-bar class="progress-bar-secondary" [value]="month.getTotal()*100/month.budget" ></app-progress-bar>
      <div>{{ month.getTotal()*100/month.budget }}%</div>
    </div>
  </div>
  <div class="div-title pl-m mb-s">
    Sections :
  </div>
  <div class="pl-m pr-m">
    <app-section-el *ngFor="let s of sectionList; let i=index" [s]="s" [budgetSection]="month.budget*s.partion" [totalSection]="month.getTotalForSection(i)"></app-section-el>
  </div>
  <div class="div-title pl-m mb-s">
    Dépenses :
  </div>
  <div *ngIf="month && month.expenseList && month.expenseList.length>0 && sectionList && sectionList.length>0 " class="pl-m pr-m gap">
    <app-single-el *ngFor="let e of month.expenseList; let i=index" [editable]="!month.close" [index]="e.name+ '-' + i"
    (onDelete)="onDelete(i)" (onEdit)="onEdit(i)">
      <div class="horizontal-stack justify-between div-title mb-s">
        <div>{{ e.name }}</div>
        <div>{{ e.amount }}€</div>
      </div>
      <div class="horizontal-stack justify-between sub-title">
        <div *ngIf="sectionList && sectionList[e.section]" >{{ sectionList[e.section].name }}</div>
        <div>Le {{ e.date | date:'dd/MM' }}</div>
      </div>
    </app-single-el>
  </div>

  <app-floating-btn *ngIf="month && !month.close" [buttons]="floatingBtn" (btnTrigger)="onAction($event)"></app-floating-btn>
</ion-content>
  




