<ion-content>
  <div class="horizontal-stack align-center text-primary pl-m pr-m"> <!--Header-->
    <div class="full-height horizontal-stack align-center" routerLink="/home">
      <ion-icon size="large" name="arrow-back-outline"></ion-icon>
    </div>
    <div class="title text-end">{{ month.getDate() | date:'MMMM yyyy' }}</div>
  </div>
  <div>
    <div class="horizontal-stack justify-between pl-m pr-m div-title">
      <div>De</div>
      <div>{{ month.startDate | date:'dd/MM/yyyy' }}</div>
      <div>à</div>
      <div>{{ month.endDate | date:'dd/MM/yyyy' }}</div>
    </div>
    <div class="horizontal-stack justify-between pl-m pr-m div-title">
      <div>Buget</div>
      <div>{{ month.budget }} €</div>
      <div>Restant</div>
      <div>{{ month.budget-month.getTotal() }} €</div>
    </div>
    <div class="horizontal-stack align-center gap space-between pl-m pr-m">
      <app-progress-bar class="progress-bar-secondary" [value]="month.getTotal()*100/month.budget" ></app-progress-bar>
      <div>{{ month.getTotal()*100/month.budget }}%</div>
    </div>
  </div>
  <div class="div-title pl-m mb-s">
    Sections :
  </div>
  <div class="pl-m pr-m">
    <app-section-el *ngFor="let s of sectionList; let i=index" [s]="s" [budgetSection]="month.budget*s.partion" [totalSection]="month.getTotalForSection(i)"></app-section-el>
  </div>
  <div class="div-title pl-m mb-s">
    Dépenses :
  </div>
  <div class="pl-m pr-m gap">
    <app-expense-el *ngFor="let e of month.expenseList; let i=index" 
    [e]="e" 
    [sectionName]="sectionList[e.section].name"
    (onDelete)="onDelete(i)"
    (onEdit)="onEdit(i)"
    ></app-expense-el>
  </div>


  <button id="main-btn" class="floating-btn bottom rigth btn-secondary" (click)="showBtn()">
    <ion-icon class="icon" size="large" name="chevron-back-outline"></ion-icon>
  </button>
  <button id="float-btn-1" class="floating-btn bottom rigth btn-secondary p-s" (click)="presentModal()">
    <ion-icon class="icon" size="large" name="options-outline"></ion-icon>
  </button>
  <button id="float-btn-2" class="floating-btn bottom rigth btn-secondary" (click)="presentModal()">
    <ion-icon class="icon" size="large" name="add-outline"></ion-icon>
  </button>
</ion-content>
  




