<div class="horizontal-stack">
  <div>
    icon
  </div>
  <div>
    Janvier 2022
  </div>
</div>
<div>
  <div class="horizontal-stack">
    <div>De</div>
    <div>24/12/2021</div>
    <div>à</div>
    <div>24/12/2022</div>
  </div>
  <div class="horizontal-stack">
    <div>Buget</div>
    <div>500 €</div>
    <div>Restant</div>
    <div>500 €</div>
  </div>
  <div class="horizontal-stack">
    <div class="progress-bar"></div>
    <div>26%</div>
  </div>
</div>
<div>
  <div class="horizontal-stack">
    <div>Envies</div>
    <div>500 €</div>
  </div>
  <div class="horizontal-stack">
    <div>
      progress-bar
    </div>
    <div>26%</div>
  </div>
</div>
Dépense :
<div>
  <div>
    <div class="horizontal-stack">
      <div>Course</div>
      <div>50%</div>
    </div>
    <div class="horizontal-stack">
      <div>Besoin</div>
      <div>Le 13/01</div>
    </div>
  </div>
</div>
