<div class="center-page">
  <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="stack full-width gap">
    <div class="input-field">
      <label>Email</label>
      <input type="text" placeholder="Type your email..." formControlName="email">
    </div>
    <div class="stack justify-center pr-m pl-m">
      <button class="btn btn-secondary text-primary" type="submit" [disabled]="emailForm.invalid">Recevoir le lien</button>
    </div>
    <div class="stack justify-center pr-m pl-m">
      <button class="btn btn-secondary text-primary" routerLink="/auth/login">Retour</button>
    </div>
  </form>
</div>