@use "sass:color";

@import "./../Base/colors";


input {
    width: 100%;
    height: 40px;

    background-color: map-get($map: $custom-colors, $key: primary);
    border: #000000;
    color:  map-get($map: $custom-colors, $key: lighter-dark);

    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}

.modal-input {
    width: 100%;
    border: none;
    border-radius: 0px;
}

.modal-input:focus{
    border: none;
    border-radius: 0px;
}


.input-field{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 10px 0px 10px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.btn{
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    height : 40px;
}

.floating-btn{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 200ms;
}

.floating-btn.rotate{
    transform: rotate(90deg);
}

.floating-btn.bottom{
    bottom: 40px;
}
.floating-btn.bottom.raise-1{
    bottom: 90px;
}
.floating-btn.bottom.raise-2{
    bottom: 140px;
}

.floating-btn.rigth{
    right: 20px;
}

.floating-btn > .icon{
    height: 95%;
    width: 95%;
}

@each $color in $colors-name {
    .btn-#{$color}{
        background-color: map-get($map: $custom-colors, $key: $color);
    }

    .btn-#{$color}:active{
        $c : map-get($map: $custom-colors, $key: $color);
        @if(color.blackness($c)>50%) {
            background-color: lighten($c,15%);
        } @else {
            background-color: darken($c,15%);
        }
    }
}
