@import "../Base/colors";

a {
    color : map-get($map: $custom-colors, $key: secondary);
    text-decoration: underline;
}

a:visited{
    color: darken($color: map-get($custom-colors,secondary), $amount: 15%);
}

a:active{
    color: lighten($color: map-get($custom-colors,secondary), $amount: 15%);
}

.title{
    font-size: 42px;
    font-weight: bold;
    width: 100%;
    height: 68px;
    line-height: 68px;
}

.section-title{
    font-size: 24px;
    font-weight: bold;
}

.div-title{
    font-size: 16px;
    font-weight: bold;
}

.sub-title{
    font-size: 12px;
    font-weight: 600;
}

.text-center{
    text-align: center;
}

.text-start{
    text-align: start;
}

.text-end{
    text-align: end;
}

.text-justify{
    text-align: justify;
}