@import "../Base/colors";

a {
    color : map-get($map: $custom-colors, $key: secondary);
    text-decoration: underline;
}

a:visited{
    color: darken($color: map-get($custom-colors,secondary), $amount: 15%);
}

a:active{
    color: lighten($color: map-get($custom-colors,secondary), $amount: 15%);
}

h1{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 700;
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1.2;
    text-align: left;
}

.title {
    font-family: 'Open Sans', sans-serif !important;
    width: 100%;

    padding-left: 10px;
    padding-right: 10px;
}

.title-2{
    height: 32px;
    width: 100%;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -1px;
}

.sub-title{
    font-family: 'Open Sans', sans-serif !important;
    width: 100%;
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -1px;
    line-height: 1.2;
}

.text-center{
    text-align: center;
}