<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onDismiss()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      New Month
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="newMonthForm" (ngSubmit)="onCreateMonth()">
    <ion-item>
      <ion-label position="floating">Start date</ion-label>
      <ion-datetime id="start" formControlName="start"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">End date</ion-label>
      <ion-datetime id="end" formControlName="end"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Budget</ion-label>
      <ion-input type="number" id="budget" formControlName="budget"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="newMonthForm.invalid" >Create new month</ion-button>
  </form>
</ion-content>
