<div class="page mt-s">
  <button class="start bg-dark text-secondary" (click)="editBtn()" [disabled]="close" >
    <ion-icon size="large" name="create-outline"></ion-icon>
  </button>
  <div [id]="'page-content-'+e.name" #content class="page-content bg-primary text-lighter-dark rounded p-m">
    <div class="horizontal-stack justify-between div-title mb-s">
      <div>{{ e.name }}</div>
      <div>{{ e.amount }}€</div>
    </div>
    <div class="horizontal-stack justify-between sub-title">
      <div *ngIf="sectionList && sectionList[e.section]" >{{ sectionList[e.section].name }}</div>
      <div>Le {{ e.date | date:'dd/MM' }}</div>
    </div>
  </div>
  <button class="end bg-dark text-danger" (click)="deleteBtn()" [disabled]="close" >
    <ion-icon size="large" name="trash-outline"></ion-icon>
  </button>
</div>
