<ion-content>
  <div class="modal">
    <div class="title-3 text-dark pl-s pt-m">Ajouter un mois</div>
    <div class="hr small mt-s mb-s"></div>
    <form>
      <div class="bb-s b-shadow">
        <label class="text-dark pl-s">Date de début :</label>
        <input class="modal-input" type="date">
      </div>
      <div class="bb-s b-shadow">
        <label class="text-dark pl-s" for="">Date de fin</label>
        <input type="date">
      </div>
      <div class="bb-s b-shadow">
        <label class="text-dark pl-s">Budget</label>
        <input type="number">
      </div>
      <div class="block pl-m pr-m mt-s">
        <button class="btn btn-secondary block">Ajouter</button>
      </div>
      
    </form>
  </div>
</ion-content>
