@import "./Base/colors";
@import "./Base/font";
@import "./Component/text";
@import "./Component/forms";
@import "./Layout/container";
@import "./Layout/element";a

html {
    background-color: map-get($map: $custom-colors, $key: dark);
    color : map-get($map: $custom-colors, $key: primary);
    font-family: 'Open Sans', sans-serif !important;
}