<ion-content>
  <div class="modal">
    <div class="class div-title text-dark pl-s pt-m">Ajouter une dépense</div>
    <div class="hr small mt-s mb-s"></div>
    <form [formGroup]="addExpenseForm" (ngSubmit)="onAddExpense()">
      <div class="bb-s b-shadow">
        <label for="" class="text-dark pl-s">Nom</label>
        <input class="modal-input" type="text" formControlName="name">
      </div>
      <div class="bb-s b-shadow">
        <label for="" class="text-dark pl-s">Montant</label>
        <input class="modal-input" type="number" formControlName="amount">
      </div>
      <div class="bb-s b-shadow">
        <label class="text-dark pl-s">Date</label>
        <app-date-input [maxDate]="maxDate" [minDate]="minDate" [default]="defaultDate" (onDateChoosen)="onDatePick($event)" ></app-date-input>
      </div>
      <div class="bb-s b-shadow text-dark">
        <label for="" class="pl-s">Section</label>
        <ion-select formControlName="section">
          <ion-select-option *ngFor="let s of sectionList; let i=index" [value]="i">{{ s.name }}</ion-select-option>
        </ion-select>
      </div>
      <div class="full-width pl-m pr-m mt-s">
        <button *ngIf="!editedExpenseIndex" class="btn btn-secondary full-width" [disabled]="addExpenseForm.invalid" >Ajouter</button>
        <button *ngIf="editedExpenseIndex" class="btn btn-secondary full-width" [disabled]="addExpenseForm.invalid">Modifier</button>
      </div>
    </form>
  </div>
</ion-content>

<ion-modal trigger="open-modal">
  <ng-template>
    <ion-content>
      <ion-datetime></ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>