<ion-content *ngIf="singleU">
  <div class="horizontal-stack align-center text-primary pl-m pr-m"> <!--Header-->
    <div class="full-height horizontal-stack align-center" routerLink="/home">
      <ion-icon size="large" name="arrow-back-outline"></ion-icon>
    </div>
    <div class="title text-center">Paramètres</div>
  </div>
  <div class="p-m">
    <div class="mt-s" (click)="onEditEmail()">
      <label>Email</label>
      <input type="email" readonly [value]="singleU.email">
    </div>
    <div class="mt-s" (click)="onEditPassword()">
      <label>Password</label>
      <input type="password" readonly value="**********">
    </div>
    <div class="mt-s">
      <label>Username</label>
      <input type="text" readonly [value]="singleU.name">
    </div>
    <div class="horizontal-stack justify-between full-width mt-m">
      <div class="section-title">Sections</div>
      <div (click)="onAddSection()">
        <ion-icon size="large" name="add-outline" ></ion-icon>
      </div>
    </div>
    <div>
      <app-single-el *ngFor="let s of singleU.sections; let i=index" [editable]="true" [index]="s.name+'-'+i"
      (onDelete)="onDeleteSection(i)" (onEdit)="onEditSection(i)">
        <div class="horizontal-stack justify-between align-center full-height div-title">
          <div>{{ s.name }}</div>
          <div>{{ s.partion*100 }}%</div>
        </div>
      </app-single-el>
    </div>
  </div>
</ion-content>