<ion-content>
  <div class="horizontal-stack align-center text-primary pl-m pr-m"> <!--Header-->
    <div class="full-height horizontal-stack align-center" routerLink="/home">
      <ion-icon size="large" name="arrow-back-outline"></ion-icon>
    </div>
    <div class="title text-center">Objectifs</div>
  </div>
  <div *ngIf="objList && objList.length>0" class="pl-m pr-m gap">
    <app-single-el *ngFor="let o of objList; let i=index" [editable]="true" [index]="o.name+'-'+i" 
    (onDelete)="onDelete(i)" (onEdit)="onEdit(i)">
    <div [routerLink]="'/obj/'+i">
      <div class="horizontal-stack justify-between div-title mb-s">
        <div>{{ o.name }}</div>
        <div>{{ o.amount }}€</div>
      </div>
      <div class="horizontal-stack justify-between sub-title">
        <div>Début le {{ o.start | date:'dd/MM/yyyy' }}</div>
        <div>{{ o.total*100/o.amount }}%</div>
      </div>
    </div>
    </app-single-el>
  </div>
  <div *ngIf="!objList || objList.length<1">
    <div class="stack justify-between gap mt-s">
      <div class="div-title">You don't have an objectif for now. Create one !</div>
    </div>
  </div>
  <app-floating-btn [buttons]="floatingBtn" (btnTrigger)="onAction($event)"></app-floating-btn>
</ion-content>