.block{
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.stack {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.horizontal-stack{
    display: flex;
    flex-direction: row;
}

.horizontal-spacing {
    margin-top: 5px;
    margin-bottom: 5px;
}


.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.gap{
    gap: 5px 5px;
}
