@import "../Base/variables";

$spacing-size : (
    's' : 5px,
    'm' : 10px,
    'l' : 15px
);

@each $name,$value in $spacing-size {
    .p-#{$name}{
        padding: $value;
    }
    .m-#{$name}{
        margin: $value;
    }

    @each $dir in $direction{
        .p#{$dir}-#{$name}{
            @if $dir=='t' {
                padding-top: $value;
            }
            @if $dir=='b' {
                padding-bottom: $value;
            }
            @if $dir=='r' {
                padding-right: $value;
            }
            @if $dir=='l' {
                padding-left: $value;
            }
        }
        .m#{$dir}-#{$name}{
            @if $dir=='t' {
                margin-top: $value;
            }
            @if $dir=='b' {
                margin-bottom: $value;
            }
            @if $dir=='r' {
                margin-right: $value;
            }
            @if $dir=='l' {
                margin-left: $value;
            }
        }
    }
}
