<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <app-text id="user-settings-display-title"></app-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogOut()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <h3>
        <app-text id="user-settings-display-email"></app-text> :
      </h3>
      <h2 readonly>{{ userInf.email }}</h2>
    </ion-label>
    <ion-button slot="end" fill="clear" color="dark" (click)='onUpdateEmail()'><ion-icon name="create-outline" ></ion-icon></ion-button>
  </ion-item>
  <ion-item *ngIf="updatingEmail">
    <form [formGroup]="updateEmailForm" (ngSubmit)="onValidUpdateEmail()">
      <ion-item>
        <ion-label position="floating">
          <app-text id="user-settings-display-new-email"></app-text> :
        </ion-label>
        <ion-input type="text" id="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <app-text id="user-settings-display-password"></app-text> :
        </ion-label>
        <ion-input type="password" id="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="errorMessageEmail && errorMessageEmail.length>0" color="danger">
        <p>{{ errorMessageEmail }}</p>
      </ion-item>
      <ion-button size="block" type="submit">
        <app-text id="user-settings-display-update-email"></app-text>
      </ion-button>
    </form>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>
        <app-text id="user-settings-display-password"></app-text> :
      </h3>
      <h2 readonly>*********</h2>
    </ion-label>
    <ion-button slot="end" fill="clear" color="dark" (click)='onUpdatePassword()'><ion-icon name="create-outline" ></ion-icon></ion-button>
  </ion-item>
  <ion-item *ngIf="updatingPassword">
    <form [formGroup]="updatePasswordForm" (ngSubmit)="onValidUpdatePassword()">
      <ion-item>
        <ion-label position="floating">
          <app-text id="user-settings-display-old-password"></app-text> :
        </ion-label>
        <ion-input type="password" id="oldpassword" formControlName="oldPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <app-text id="user-settings-display-new-password"></app-text> :
        </ion-label>
        <ion-input type="password" id="newpassword" formControlName="newPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <app-text id="user-settings-display-confirm"></app-text> :
        </ion-label>
        <ion-input type="password" id="confirm" formControlName="confirm"></ion-input>
      </ion-item>
      <ion-item *ngIf="errorMessagePassword && errorMessagePassword.length>0" color="danger">
        <p>{{ errorMessagePassword }}</p>
      </ion-item>
      <ion-button type="submit">
        <app-text id="user-settings-display-update-password"></app-text>
      </ion-button>
    </form>
  </ion-item>
  <ion-item (click)='openPicker()' class="ion-no-margin">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-no-padding">
          <p>
            <app-text id="user-settings-display-language"></app-text> :
          </p>
        </ion-col>
        <ion-col class="ion-no-padding">
           <p class="ion-float-right"> {{ this.language[this.chooseLanguage] }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-label>
      <app-text id="user-settings-display-categories"></app-text> :
    </ion-label>
    <ion-button slot="end" fill="clear" color="dark" (click)="onAddCategory()">
      <ion-icon  name="add-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item *ngIf="addingCategory">
    <form [formGroup]="addCategoryForm" (ngSubmit)="onValidAddCategory()">
      <ion-item>
        <ion-label position="floating">
          <app-text id="user-settings-display-name-category"></app-text> :
        </ion-label>
        <ion-input type="text" id="nameC" formControlName="name"></ion-input>
        <ion-button slot="end" fill="clear" color="dark" type="submit"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
      </ion-item>
    </form>
  </ion-item>
  <ion-item *ngIf="updatingCategorie">
    <form [formGroup]="updateCategoryForm" (ngSubmit)="onValidUpdateCategory()">
      <ion-item>
        <ion-label position="floating">
          <app-text id="user-settings-display-new-name-category"></app-text> :
        </ion-label>
        <ion-input type="text" id="nameCU" formControlName="name"></ion-input>
        <ion-button slot="end" fill="clear" color="dark" [disabled]="updateCategoryForm.invalid" type="submit">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </form>
  </ion-item>
  <ion-list class="ion-padding-start">
    <ion-item-sliding *ngFor="let c of userInf.settings.categorie; let index=index">
      <ion-item-options  side="start">
        <ion-item-option (click)="onUpdateCategory(index)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label>{{ c }}</ion-label>
      </ion-item>
      <ion-item-options *ngIf="index!==0" side="end">
        <ion-item-option color="danger"(click)='onDeleteCategorie(index)'>
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>