<div class="center-page">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="stack full-width gap">
    <div class="input-field">
      <label>Adresse mail</label>
      <input type="text" placeholder="Type your email..." formControlName="email">
    </div>
    <div class="input-field">
      <label>Mot de passe</label>
      <input type="password" placeholder="Password" formControlName="password">
    </div>
    <div class="input-field checkbox gap">
      <input type="checkbox" id="remember" formControlName="remeber">
      <label for="remember">Se souvenir de moi ?</label>
    </div>
    <div class="pr-m pl-m">
      Vous avez oubliez votre mot de passe ? <a routerLink="/auth/missing-password">Ici</a>
    </div>
    <div *ngIf="error" class="pr-m pl-m text-danger horizontal-stack justify-center">
      {{ errorMessage }}
    </div>
    <div class="stack justify-center pr-m pl-m">
      <button class="btn btn-secondary text-primary" [disabled]="loginForm.invalid">Connection</button>
    </div>
  </form>
</div>
<div class="footer horizontal-stack justify-center">
  Vous n'avez pas de compte ? <a routerLink="/auth/sign">Ici</a>
</div>