<div id="content">
  <form class="stack gap">
    <div class="input-field">
      <label>Email</label>
      <input type="text" placeholder="Type your email...">
    </div>
    <div class="input-field">
      <label>Password</label>
      <input type="password" placeholder="Password">
    </div>
    <div>
      Forgot your password ? <a>Here</a>
    </div>
    <div class="block">
      <button class="btn btn-secondary text-primary block">Login</button>
    </div>
    <div class="block horizontal-stack align-center gap">
      <div class="hr"></div>
      <div class="text-lighter-dark">or</div>
      <div class="hr"></div>
    </div>
    <div class="block">
      <button class="btn btn-primary text-lighter-dark block">Use google</button>
    </div>
  </form>
</div>
<div id="footer" class="horizontal-stack justify-center block">
  Does not have an account ? <a>Here</a>
</div>z