<div class="center-page">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="stack full-width gap">
    <div class="input-field">
      <label>Email</label>
      <input type="text" placeholder="Type your email..." formControlName="email">
    </div>
    <div class="input-field">
      <label>Password</label>
      <input type="password" placeholder="Password" formControlName="password">
    </div>
    <div class="input-field checkbox gap">
      <input type="checkbox" id="remember" formControlName="remeber">
      <label for="remember">Remember me ?</label>
    </div>
    <div class="pr-m pl-m">
      Forgot your password ? <a routerLink="/auth/missing-password">Here</a>
    </div>
    <div *ngIf="error" class="pr-m pl-m text-danger horizontal-stack justify-center">
      {{ errorMessage }}
    </div>
    <div class="stack justify-center pr-m pl-m">
      <button class="btn btn-secondary text-primary" [disabled]="loginForm.invalid">Login</button>
    </div>
  </form>
</div>
<div id="footer" class="horizontal-stack justify-center">
  Does not have an account ? <a routerLink="/auth/sign">Here</a>
</div>