<ion-content class="stack gap">
<div class="horizontal-stack align-center text-white"> <!-- Header -->
  <h1 class="title">
    Hello username !
  </h1>
</div>
<div class="horizontal-stack content rounded bg-primary text-lighter-dark p-s mb-m"> <!-- Current month -->
  <div class="block"> <!-- Content -->
    <div class="sub-title">Mois en cours</div>
    <div class="hr small"></div>
    <div class="stack space-between align-start margin-top margin-bottom">
      <div class="title-2">Janvier 2022</div>
      <div class="sub-title">De 12/01 à 12/02</div>
      <div class="horizontal-stack align-center gap full-width"> 
        <div class="progress-bar">
          <div></div>
        </div>
        <div class="text-center">
          26%
        </div>
      </div>
    </div>
  </div>
  <div class="horizontal-stack align-center">
    <ion-icon class="text-secondary" size="large" name="arrow-forward-outline"></ion-icon>
  </div>
</div>
<div class="horizontal-stack content rounded bg-primary text-lighter-dark p-s mb-s"> <!-- Objectifs -->
  <div class="block">
    <div class="sub-title">Objectifs en cours</div>
    <div class="hr small"></div>
    <div>There is no active objectives for now. Create one <a>Here</a></div>
  </div>
  <div class="horizontal-stack align-center">
    <ion-icon class="text-secondary" size="large" name="arrow-forward-outline"></ion-icon>
  </div>
</div>
<div class="block  title-3 m-s ml-m">
  Mois précédents :
</div>
<div class="stack gap content"> <!--scroll-->
  <div class="horizontal-stack space-between block rounded bg-primary text-lighter-dark p-s">
    <div class="title-2 text-center">Déccembre 2021</div>
    <ion-icon size="large" name="checkmark-outline"></ion-icon>
    <ion-icon class="text-secondary" size="large" name="arrow-forward-outline"></ion-icon>
  </div>
</div>
<button class="floating-btn bottom rigth btn-secondary" (click)="presentModal()">
  <ion-icon class="icon" size="large" name="add-outline"></ion-icon>
</button>
</ion-content>
