<ion-content class="stack gap">
  <div class="p-m">
    <div class="horizontal-stack align-center text-white"> <!-- Header -->
      <h1 class="title">
        Hello username !
      </h1>
    </div>
    <div *ngIf="currentMonth" class="horizontal-stack justify-between rounded bg-primary text-lighter-dark p-s mb-m"> <!-- Current month -->
      <div class="full-width"> <!-- Content -->
        <div class="sub-title">Mois en cours</div>
        <div class="hr small"></div>
        <div class="stack justify-between gap mt-s">
          <div class="div-title">{{ currentMonth.getDate() | date:'MMMM yyyy' }}</div>
          <div class="sub-title">De {{ currentMonth.startDate | date:'dd/MM' }} à {{ currentMonth.endDate | date:'dd/MM' }}</div>
          <div class="horizontal-stack align-center gap full-width"> 
            <app-progress-bar class="progress-bar-secondary" [value]="currentMonth.getTotal()*100/currentMonth.budget"></app-progress-bar>
            <div class="text-center">
              {{ currentMonth.getTotal()*100/currentMonth.budget }}%
            </div>
          </div>
        </div>
      </div>
      <div class="horizontal-stack align-center" [routerLink]="'/month/'+currentMonth.getId()">
        <ion-icon class="text-secondary" size="large" name="arrow-forward-outline"></ion-icon>
      </div>
    </div>
    <div *ngIf="!currentMonth" class="horizontal-stack justify-between rounded bg-primary text-lighter-dark p-s mb-m">
      <div class="full-width"> <!-- Content -->
        <div class="sub-title">Mois en cours</div>
        <div class="hr small"></div>
        <div class="stack justify-between gap mt-s">
          <div class="div-title">You don't have a current month for now. Create one !</div>
        </div>
      </div>
      <div class="horizontal-stack align-center">
        <ion-icon class="text-shadow" size="large" name="arrow-forward-outline"></ion-icon>
      </div>
    </div>
    <div class="horizontal-stack content rounded bg-primary text-lighter-dark p-s mb-s"> <!-- Objectifs -->
      <div>
        <div class="sub-title">Objectifs en cours</div>
        <div class="hr small"></div>
        <div>There is no active objectives for now. Create one <a routerLink="/obj">Here</a></div>
      </div>
      <div class="horizontal-stack align-center" routerLink="/obj">
        <ion-icon class="text-secondary" size="large" name="arrow-forward-outline"></ion-icon>
      </div>
    </div>
    <div class="mb-s section-title">
      Mois précédents :
    </div>
    <div *ngIf="monthList && monthList.length>0"  class="stack gap"> <!--scroll-->
      <app-month-list-el *ngFor="let m of monthList" [month]="m"></app-month-list-el>
    </div>
    <div *ngIf="!monthList || monthList.length<1" class="stack gap">
      <p>There is no month for now. Create one !</p>
    </div>
  </div>
  <app-floating-btn [buttons]="Btn" (btnTrigger)="onAction($event)"></app-floating-btn>
</ion-content>
