<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='onDismiss()'><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      {{ singleMonth.getName() }}
    </ion-title>
    <ion-buttons slot="end" *ngIf="!this.singleMonth.ended()">
      <ion-button (click)='onAddExpense()'><ion-icon name="add-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <app-text id="month-single-month-from"></app-text>: {{ singleMonth.startDate | dateToString:'short-str' }}
          </ion-col>
          <ion-col>
            <app-text id="month-single-month-to"></app-text>: {{ singleMonth.endDate | dateToString:'short-str' }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-text id="month-single-month-budget"></app-text>: {{ singleMonth.getBudget() | rounded }} €
          </ion-col>
          <ion-col>
            <app-text id="month-single-month-remaining"></app-text>: {{ singleMonth.getRemaining() | rounded }} €
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-text id="month-single-month-total"></app-text> : {{ singleMonth.getTotal() | rounded }} €
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div id="prog-bar" class="progress">
              <div class="text">
                {{ 100*singleMonth.getTotal()/singleMonth.getBudget() | rounded:1}}%
              </div>
              <div class="progress-bar"></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button size="small" expand="block" *ngIf="!this.singleMonth.ended()" (click)='onEndMonth()'>
        <app-text id="month-single-month-end"></app-text>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <div class="end-link">
    <a (click)="onDetail()">See more -></a>
  </div>
  <ion-list>
    <ion-item-sliding *ngFor="let e of singleMonth.expenses">
      <ion-item-options side="start" *ngIf="!this.singleMonth.ended()">
        <ion-item-option (click)="onEditExpense(e)" ><ion-icon name="create-outline"></ion-icon></ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label>
          <h2>{{ e.name }}</h2>
          <h3>{{ userCategory[e.category] }}</h3>
          <p>{{ e.date | dateToString:'short-str' }}</p>
        </ion-label>
        <ion-note slot="end" color="tertiary">{{ e.amount }} €</ion-note>
      </ion-item>
      <ion-item-options side="end" *ngIf="!this.singleMonth.ended()">
        <ion-item-option color="danger" (click)="onDeleteExpense(e)"><ion-icon name="trash-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>