<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='onDismiss()'><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      <app-text id="expense-add-expense-title"></app-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="newExpenseForm" (ngSubmit)="onAddExpense()">
    <ion-item>
      <ion-label position="floating">
        <app-text id="expense-add-expense-name"></app-text>
      </ion-label>
      <ion-input type="text" id="name" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <app-text id="expense-add-expense-amount"></app-text>
      </ion-label>
      <ion-input type="number" id="amount" formControlName="amount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <app-text id="expense-add-expense-date"></app-text>
      </ion-label>
      <ion-datetime id="date" formControlName="date"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="this.userCategories" (click)='openPicker()' class="ion-no-margin">
      <p>
        <app-text id="expense-add-expense-category"></app-text>
      </p>
      <p class="ion-float-right"> {{ this.userCategories[this.selectedCategory].name }}</p>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="newExpenseForm.invalid">
      <app-text id="expense-add-expense-add"></app-text>
    </ion-button>
  </form>
</ion-content>
